---
layout: default
title: Pierre Couy's tech corner
---

<article role="document" tabindex="0">
    <p>Welcome to my personal website. You will mostly find blog posts about
    work-related stuff, side projects, and resources related to computer science
    in general. I also maintain a <a href="/links.html">directory of links
    I have found to be useful or interesting</a>.</p>
</article>

<article role="feed">
    <h2>Posts</h2>
    <ul class="post-list">
        {% for post in site.posts %}
            {% include post.html post=post %}
        {% endfor %}
    </ul>
</article>
