<footer>
    <a href="/feed.xml" aria-label="RSS feed" class="no-underline"><svg viewBox="0 0 448 512">
        <use xlink:href="/assets/rss.svg#rss_icon"></use>
    </svg></a> 
    <a href="https://github.com/sponsors/pcouy?o=esb" aria-label="Github Profile" class="no-underline"><svg viewBox="0 0 98 96">
        <use xlink:href="/assets/github-mark.svg#github_icon"></use>
    </svg></a> 
    <a href="https://www.youtube.com/@pcouy" aria-label="Youtube Channel" class="no-underline">
        <svg viewBox="0 0 460 460">
            <use xlink:href="/assets/youtube.svg#youtube_icon"></use>
        </svg>
    </a>
    <a href="https://twitch.tv/pcouy_" aria-label="Twitch Channel" class="no-underline">
        <svg viewBox="0 0 32 32">
            <use xlink:href="/assets/twitch.svg#twitch_icon"></use>
        </svg>
    </a>
</footer>
