<nav>
    <ul>
        {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
                    {{ item.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="#menu_categories">Categories</a>
            <ul id="menu_categories">
                {% for category in site.categories %}
                    {% assign slug = category[0] | slugify %}
                    {% assign link = "/category/" | append: slug | append: "/" %}
                    <li>
                        <a href="{{ link }}" {% if page.url == link %}class="active"{% endif %}>
                            {{ category[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="/feed.xml" aria-label="RSS feed"><svg viewBox="0 0 448 512">
                <use xlink:href="/assets/rss.svg#rss_icon"></use>
            </svg></a> 
        </li>
        <li>
            <a href="https://github.com/pcouy" aria-label="Github Profile"><svg viewBox="0 0 98 96">
                <use xlink:href="/assets/github-mark.svg#github_icon"></use>
            </svg></a> 
        </li>
    </ul>
</nav>
