<li>
    <article>
        <section role="contentinfo">
            <h3><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
            <div class="post-details">
                {{ include.post.date | date_to_string }} 
                {% if include.post.categories.size > 0 %}
                    in
                        {% for category in include.post.categories %}
                            {% assign slug = category | slugify %}
                            {% assign link = "/category/" | append: slug | append: "/" %}
                                <a href="{{ link }}" {% if page.url == link %}class="active"{% endif %}>
                                    {{ category }}</a>{% unless forloop.last %}, {% endunless -%}
                        {% endfor %}
                {% endif %}
                .
                {% if include.post.tags.size > 0 %}
                    Tags :
                        {% for tag in include.post.tags %}
                            <a href="/tag/{{ tag | slugify }}/">{{ tag }}</a>
                            {% if forloop.rindex0 > 0 %},{% endif %}
                        {% endfor %}
                {% endif %}
            </div>
        </section>
        <section role="document">
            {{ post.excerpt }} <a href="{{ include.post.url }}">Read more...</a>
        </section>
    <article>
</li>
