<li>
    <article>
        <section role="contentinfo">
            <h3><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
            {% if include.post.description %}
                <p>{{ include.post.description | markdownify }}</p>
            {% endif %}
            <div class="post-details">
                <p>
                    {% if include.post.links.size > 0 %}
                        {% for link in include.post.links %}
                            <a href="{{ link[1].url }}">{{ link[1].name }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </section>
    <article>
</li>
