<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link async rel="stylesheet" href="/main.css">
        <link async rel="stylesheet" href="/assets/css/solarized-light.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <script defer data-domain="pierre-couy.dev" src="https://coucou.pierre-couy.fr/js/script.js"></script>
        <script defer src="/assets/section_maker.js">
        {% seo %}
    </head>
    <body>
        <div class="site-container">
            {% include header.html %}
            <main>
                <h1>{{ page.title }}</h1>
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
    </body>
</html>
